ul,
ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background: #e4e4e4;
}

header h1 {
  font-size: 4em;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 20px;
  background: #e4e4e4;
}

nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav .nav-header .user-text {
  margin-left: 10px;
}

nav .nav-header .user-text h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

nav .nav-header .user-text h4 {
  font-size: .8rem;
}

nav .portrait {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  background: url("../img/LRG-DSC02096.JPG") no-repeat center/cover;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  width: 100%;
}

nav .navbar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 10px;
  background: none;
  border: none;
  border-radius: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .navbar button span {
  margin-left: 10px;
}

nav .navbar button:hover {
  background: #fff;
  -webkit-transform: translate(10px, -5px) scale(1.1);
          transform: translate(10px, -5px) scale(1.1);
}

main {
  margin-left: 272px;
  height: 100vh;
}

.tabcontent {
  display: none;
}

.tabcontent h1 {
  text-align: center;
  padding: 20px 0;
}

#dashboard {
  display: block;
}

.summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.summary .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100px;
  padding: 20px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #999;
          box-shadow: 0 0 5px #999;
}

.summary .card span:nth-child(1) {
  margin-bottom: 10px;
}

.summary .card .total-amount {
  font-size: 2em;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 400px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin: 0 20%;
}

table {
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
  padding: 0;
}

table * {
  padding: 5px;
}

#main-table {
  margin: auto;
}

.value {
  text-align: right;
}

.symbol {
  text-transform: uppercase;
}

.table02 tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table03 tr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 100px 1fr;
      grid-template-columns: 50% 100px 1fr;
}

tr {
  border-bottom: 1px solid;
}

th {
  text-align: left;
}

.bottomline {
  font-weight: bold;
}

.bottomline:last-child {
  border: none;
}
/*# sourceMappingURL=style.css.map */